.container{
    margin-left: 200px;
    width:75%;
    height:600px;
    
}
.item-1,.item-2,.item-3,.item-4{
    margin-left: 5px;
    display: inline-block;
    width:270px;
    height:400px;
   
    
}
img{
    width: 100%;
}
#image{
    width:650px;
}
